@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Black.eot");
  src: local("TT Lakes Black"), local("TTLakes-Black"), url("/fonts/TTLakes-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Black.woff") format("woff"), url("/fonts/TTLakes-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-BlackItalic.eot");
  src: local("TT Lakes Black Italic"), local("TTLakes-BlackItalic"), url("/fonts/TTLakes-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-BlackItalic.woff") format("woff"), url("/fonts/TTLakes-BlackItalic.woff") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Bold.woff") format("woff"), url("/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-BoldItalic.eot");
  src: local("TT Lakes Bold Italic"), local("TTLakes-BoldItalic"), url("/fonts/TTLakes-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-BoldItalic.woff") format("woff"), url("/fonts/TTLakes-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Italic.eot");
  src: local("TT Lakes Italic"), local("TTLakes-Italic"), url("/fonts/TTLakes-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Italic.woff") format("woff"), url("/fonts/TTLakes-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Light.eot");
  src: local("TT Lakes Light"), local("TTLakes-Light"), url("/fonts/TTLakes-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Light.woff") format("woff"), url("/fonts/TTLakes-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-LightItalic.eot");
  src: local("TT Lakes Light Italic"), local("TTLakes-LightItalic"), url("/fonts/TTLakes-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-LightItalic.woff") format("woff"), url("/fonts/TTLakes-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("/fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-MediumItalic.eot");
  src: local("TT Lakes Medium Italic"), local("TTLakes-MediumItalic"), url("/fonts/TTLakes-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-MediumItalic.woff") format("woff"), url("/fonts/TTLakes-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("/fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Regular.woff") format("woff"), url("/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Thin.eot");
  src: local("TT Lakes Thin"), local("TTLakes-Thin"), url("/fonts/TTLakes-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-Thin.woff") format("woff"), url("/fonts/TTLakes-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-ThinItalic.eot");
  src: local("TT Lakes Thin Italic"), local("TTLakes-ThinItalic"), url("/fonts/TTLakes-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/TTLakes-ThinItalic.woff") format("woff"), url("/fonts/TTLakes-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
body {
  font-family: "TT Lakes";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  min-width: 320px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.repair-brands__header {
  display: flex;
  padding-left: 16px;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  box-shadow: inset 1px 1px 0 0 #d9fff5;
  margin-bottom: 16px;
}
.repair-brands__title {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 500;
}

.brand-container {
  padding: 0 0 0 16px;
}
.brand-container__list {
  display: none;
}

.swiper {
  height: 108px;
}

.swiper::before {
  content: "";
  position: absolute;
  left: 92.5%;
  right: 0%;
  top: 0;
  bottom: 0;
  width: 7.5%;
  height: 81px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 100;
}

.swiper-slide__item {
  width: 240px;
  height: 72px;
  display: flex;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin-bottom: 16px;
}
.swiper-slide__link {
  width: 240px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  margin-left: 0 !important;
  margin-right: 16px !important;
  background-color: #b5b6bc;
}

.show-more {
  display: none;
}

@media (min-width: 768px) {
  .repair-brands__header {
    display: flex;
    padding-left: 24px;
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    box-shadow: inset 1px 1px 0 0 #d9fff5;
    margin-bottom: 24px;
  }
  .repair-brands__title {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    font-weight: 500;
  }
  .brand-container {
    padding: 0 0 0 24px;
  }
  .brand-container__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    height: 160px;
    overflow: hidden;
  }
  .brand-container__item {
    width: 224px;
    height: 72px;
    display: flex;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-right: 24px;
  }
  .brand-container__link {
    width: 240px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand-container__btn {
    padding-left: 32px;
    background-image: url(../repairbrand-img/expandbottom.svg);
    background-position: left;
    background-repeat: no-repeat;
  }
  .brand-container__btn-close {
    padding-left: 32px;
    background-image: url(../repairbrand-img/expandtop.svg);
    background-position: left;
    background-repeat: no-repeat;
  }
  .swiper-pagination {
    display: none;
  }
  .show-more {
    border: none;
    display: block;
  }
  .swiper {
    display: none;
  }
}
@media (min-width: 1120px) {
  .repair-brands__header {
    display: flex;
    padding-left: 32px;
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    box-shadow: inset 1px 1px 0 0 #d9fff5;
    margin-bottom: 24px;
  }
  .repair-brands__title {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    font-weight: 500;
  }
  .brand-container {
    padding: 0 0 0 32px;
  }
  .brand-container__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .brand-container__item {
    width: 240px;
    height: 72px;
    display: flex;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-right: 32px;
  }
  .brand-container__link {
    width: 240px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand-container__btn {
    padding-left: 32px;
    background-image: url(/repairbrand-img/expandbottom.svg);
    background-position: left;
    background-repeat: no-repeat;
  }
}/*# sourceMappingURL=repairbrand-style.css.map */