@import "fonts";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

*, *::after, *::before{
    box-sizing: inherit;
}

.container {
}

.logo-link {
}

.btn-header {
    border: none;
    background-color: #FF3E79;
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
}

.header {

    // .header__container

    &__container {
        padding: 18px 16px;
        background-color: #FFFFFF;
        box-shadow: inset 0px -1px #D9FFF5;
        margin-bottom: 24px;
    }

    // .header__body

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    //.header__menu-logo

    &__menu-logo{
        display: flex;
        align-items: center;
    }

    // .header__nav

    &__menu-nav {
        display: flex;
    }

    // .header__menu--burger

    &__menu--burger {
        margin-right: 16px;
    }

    // .header__logo

    &__logo {
        display: flex;
        align-items: center;
    }

    &__logo::after{
        content: "";
        border: 1px solid #EAEAEA;
        border-radius: 1px;
        height: 32px;
        margin-right: 20px;
    }

    &__logo-link{
        margin-right: 16px;
    }

    //.header__services

    &__services{
        display: flex;
    }

    // .header__services-feedback

    &__services-feedback {
        display: none;
    }

    // .header__services-repair

    &__services-repair {
        display: flex;
    }

    // .header__services-repair--repair

    &__services-repair--repair {
        margin-right: 16px;
    }

    // .header__services-repair--check-status

    &__services-repair--check-status {
    }
}


.main {

    // .main__container

    &__container {
        overflow-x: hidden;
        padding: 0 16px;
    }

    // .main__header

    &__header {
        display: flex;
        margin-bottom: 24px;
    }

    // .main__title

    &__title {
        margin: 0;
        flex-grow: 1;
    }

    &__title::before{
        content: "";
        position: absolute;
        border: 2px solid #41F6D7;
        border-radius: 4px;
        height: 40px;
        left: -1px;
    }


    // .main__repair

    &__repair{
        display: none;
    }

    // .main__check-status
        
    &__check-status {
        display: none;
    }

    // .main__services-slider

    &__services-slider {
        margin-bottom: 24px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

    }

    &__services-slider::-webkit-scrollbar{
        display: none;
    }

    &__services-slider::after {
        content: "";
        position: absolute;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        height: 40px;
        width: 7.5%;
        left: 92.5%;
    }

    // .main__services-list

    &__services-list {
        display: flex;
        width: max-content;
    }

    // .main__services-btn

    &__services-btn {
        padding-top: 8px;
        padding-left: 16px;
        padding-bottom: 8px;
        padding-right: 9px;

    }

    // .main__description-text

    &__description-text {
        white-space: pre-line;
        margin-bottom: 16px;
        font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    // .main__description-readmore-btn

    &__description-readmore-btn {
        border: none;
        background-color: #F8F8F8;
        padding-left: 32px;
        margin-bottom: 16px;
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;  
        letter-spacing: -0.2px;
        color: #1B1C21;
        background-image: url(/img/expand.svg);
        background-repeat: no-repeat;
        background-position: left;
    }

    // .main__description-image

    &__description-image {
        display: flex;
        justify-content: center;
    }
}


.title {
    font-family: 'TT Lakes';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.services-btn {
    border: none;
    background: #F8F8F8;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.services-btn:hover{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px #B8FFEC;
}


@media (min-width: 768px) {
    
    .header {
    
        // .header__container
    
        &__container {
            padding: 24px 24px;
            margin-bottom: 24px;
        }
    
        // .header__menu--burger
    
        &__menu--burger {
            margin-right: 20px;
        }
    
        // .header__logo
    
        &__logo {
            display: flex;
            align-items: center;
        }
    
        &__logo::after{
            display: none;
        }

        &__logo::before{
            content: "";
            border: 1px solid #EAEAEA;
            border-radius: 1px;
            height: 32px;
            margin-right: 20px;
        }
    
        &__logo-link{
            margin-right: 0;
        }
    
        //.header__services

        &__services{
            display: flex;
        }

        // .header__services-feedback
    
        &__services-feedback {
            display: flex;
        }


        // .header__services-feedback--call

        &__services-feedback--call {
            margin-right: 16px;
        }

        // .header__services-feedback--chat

        &__services-feedback--chat {
            margin-right: 16px;
        }

        // .header__services-feedback--profile

        &__services-feedback--profile {
            margin-right: 20px;
        }

    
        // .header__services-repair
    
        &__services-repair {
            display: flex;
            align-items: center;
        }

        &__services-repair::before {
            content: "";
            border: 1px solid #EAEAEA;
            border-radius: 1px;
            height: 32px;
            margin-right: 20px;
        }
    
        // .header__services-repair--repair
    
        &__services-repair--repair {
            background-image: url(/img/repair.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 16px;
        }
    
        // .header__services-repair--check-status
    
        &__services-repair--check-status {
            background-image: url(/img/checkstatus.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    
    
    .main {

        // .main__services-slider
    
        &__services-slider {
            margin-bottom: 32px;
        }

        // .main__description
    
        &__description {
            display: flex;
        }
    
        // .main__description-text-btn
    
        &__description-text-btn {
            margin-right: 48px;
        }
    
        // .main__description-text
    
        &__description-text {
            margin: 0;
            margin-bottom: 10px;
            white-space: pre-line;
            font-family: 'TT Lakes';
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            color: #1B1C21;
        }
    
        // .main__description-readmore-btn
    
        &__description-readmore-btn {
            margin-bottom: 0;
            font-family: 'TT Lakes';
            font-size: 16px;
            line-height: 24px;  
            letter-spacing: -0.2px;
            color: #1B1C21;
        }
    
        // .main__description-image
    
        &__description-image {
            align-items: flex-start;
        }
    }
}

@media (min-width: 1120px){
    .header {

        // .header__container
    
        &__container {
            display: none;
        }
    }
    
    
    .main {
    
        // .main__container
    
        &__container {
            overflow-x: hidden;
            padding: 42px 25px 0 32px;
        }
    
        // .main__header
    
        &__header {
            margin-bottom: 8px;
        }
    
        // .main__services--btn
    
        &__services {
            display: flex;
        }
    
        
        // .main__repair
        
        &__repair {
            margin-right: 32px;
            padding: 0;
            border: none;
            font-family: 'TT Lakes';
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.2px;
            color: #1B1C21;
            display: initial;
            background-color: #F8F8F8;
            text-align: center;
        }

        
        // .main__check-status
        
        &__check-status {
            padding: 0;
            border: none;
            font-family: 'TT Lakes';
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            letter-spacing: -0.2px;
            color: #1B1C21;
            display: initial;
            background-color: #F8F8F8;
        }

        // .main__repair--icon

        &__repair--icon{
            margin-left: 8px;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }

        // .main__btn-text
        
        &__btn-text {
            border: none;
            background-color: #F8F8F8;

        }
    
        // .main__services-slider
    
        &__services-slider {
            margin-bottom: 16px;
        }
    
        &__services-slider::after {
            display: none;
        }
    
        // .main__services-list
    
        &__services-list {
            flex-wrap: wrap;
            width: auto;
        }
    
        // .main__services-btn
    
        &__services-btn {
            padding: 8px 21px 7px 22px;
        }

        // .main__description-text-btn
    
        &__description-text-btn {
            margin-right: 36px;
        }
    
        // .main__description-text
    
        &__description-text {
            margin-bottom: 13px;
            font-family: 'TT Lakes';
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #1B1C21;
        }
    
        // .main__description-readmore-btn
    
        &__description-readmore-btn {
            margin-bottom: 0;
            font-family: 'TT Lakes';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #1B1C21;
        }
    }
}