@import "fonts";

body {
    font-family: "TT Lakes";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    min-width: 320px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.repair-brands {
    // .repair-brands__header

    &__header {
        display: flex;
        padding-left: 16px;
        background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
        box-shadow: inset 1px 1px 0 0 #d9fff5;
        margin-bottom: 16px;
    }

    // .repair-brands__title

    &__title {
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #7e7e82;
        font-weight: 500;
    }
}

.brand-container {
    padding: 0 0 0 16px;
    // .brand-container__list

    &__list {
        display: none;
    }
}

.swiper {
    height: 108px;
}

.swiper::before {
    content: "";
    position: absolute;
    left: 92.5%;
    right: 0%;
    top: 0;
    bottom: 0;
    width: 7.5%;
    height: 81px;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 100;
}

.swiper-wrapper {
}

.swiper-slide {
    // .swiper-slide__item

    &__item {
        width: 240px;
        height: 72px;
        display: flex;
        background: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        margin-bottom: 16px;
        // margin-right: 16px;
    }

    // .swiper-slide__link

    &__link {
        width: 240px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.swiper-pagination {
    bottom: 0;
}

.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    margin-left: 0 !important;
    margin-right: 16px !important;
    background-color: #b5b6bc;
}

.show-more {
    display: none;
}

@media (min-width: 768px) {
    .repair-brands {
        // .repair-brands__header

        &__header {
            display: flex;
            padding-left: 24px;
            background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
            box-shadow: inset 1px 1px 0 0 #d9fff5;
            margin-bottom: 24px;
        }

        // .repair-brands__title

        &__title {
            font-family: "TT Lakes";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            color: #7e7e82;
            font-weight: 500;
        }
    }

    .brand-container {
        padding: 0 0 0 24px;
        // .brand-container__list

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
            height: 160px;
            overflow: hidden;
        }

        // .brand-container__item

        &__item {
            width: 224px;
            height: 72px;
            display: flex;
            background: #ffffff;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            margin-bottom: 16px;
            margin-right: 24px;
        }

        // .brand-container__link

        &__link {
            width: 240px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        // .brand-container__btn

        &__btn {
            padding-left: 32px;
            background-image: url(../repairbrand-img/expandbottom.svg);
            background-position: left;
            background-repeat: no-repeat;
        }

        &__btn-close {
            padding-left: 32px;
            background-image: url(../repairbrand-img/expandtop.svg);
            background-position: left;
            background-repeat: no-repeat;
        }
    }

    .swiper-pagination {
        display: none;
    }
    .show-more {
        border: none;
        display: block;
        font-family: 'TT Lakes';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .swiper {
        display: none;
    }
}

@media (min-width: 1120px) {
    .repair-brands {
        // .repair-brands__header

        &__header {
            display: flex;
            padding-left: 32px;
            background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
            box-shadow: inset 1px 1px 0 0 #d9fff5;
            margin-bottom: 24px;
        }

        // .repair-brands__title

        &__title {
            font-family: "TT Lakes";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            color: #7e7e82;
            font-weight: 500;
        }
    }

    .brand-container {
        padding: 0 0 0 32px;
        // .brand-container__list

        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
        }

        // .brand-container__item

        &__item {
            width: 240px;
            height: 72px;
            display: flex;
            background: #ffffff;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            margin-bottom: 16px;
            margin-right: 32px;
        }

        // .brand-container__link

        &__link {
            width: 240px;
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        // .brand-container__btn

        &__btn {
            padding-left: 32px;
            background-image: url(/repairbrand-img/expandbottom.svg);
            background-position: left;
            background-repeat: no-repeat;
        }

        &__btn-close {
            padding-left: 32px;
            background-image: url(../repairbrand-img/expandtop.svg);
            background-position: left;
            background-repeat: no-repeat;
        }
    }
}
